<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>list.html</h2>
<table>
    <tr>
        <th>id</th>
        <th>memberEmail</th>
        <th>memberPassword</th>
        <th>memberName</th>
        <th>상세조회</th>
        <th>삭제</th>
    </tr>
    <tr th:each="member: ${employeeList}">
        <td th:text="${member.empId}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.nickname}"></td>
        <td th:text="${member.password}"></td>
        <td>
            <!-- query string /member?id=1
                rest api /member/1 -->
            <a th:href="@{|/member/${member.empId}|}">조회</a>
        </td>
        <td>
            <a th:href="@{|/member/delete/${member.empId}|}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>